# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Azure Functions
local.settings.json
host.json
/.python_packages/

# Editor settings
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS files
Thumbs.db
.DS_Store
